:source ~/.vimrc

Plug 'michaeljsmith/vim-ident-object'
Plug 'chrisbra/matchit'
Plug 'dbakker/vim-paragraph-motion'

Plug 'tpope/vim-surround'
Plug 'tommcdo/vim-exchange'
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(100, 160, 100, 100)"

Plug 'easymotion/vim-easymotion'
let g:EasyMotion_do_mapping = 0

Plug 'terryma/vim-multiple-cursors'

"""Plug 'preservim/nerdtree'
"""Plug 'terryma/vim-multiple-cursor'
"""Plug 'tpope/vim-commentary'
"""Plug 'vim-scripts/ReplaceWithRegisters
"""Plug 'vim-scripts/argtextobj.vim'
"""let g:argtextobj_pairs="[:],(:),<:>"
"""set sneak
"""set quickscope
"""let g:match_words = '<:>,<tag>:</tag>'

set ideamarks
set ideajoin
set idearefactormode=select
set incsearch!

sethandler <ESC> a:ide
sethandler <C-x> a:ide
sethandler <A-F> a:ide
sethandler <A-S> a:ide
sethandler <A-e> a:ide
sethandler <A-E> a:ide
sethandler <M-e> a:ide
sethandler <M-E> a:ide
sethandler <A-f> a:ide
sethandler <C-I> a:ide
sethandler <C-B> a:ide
sethandler <C-L> a:ide
sethandler <A-N> a:ide
sethandler <C-P> a:ide
sethandler <C-R> a:ide
sethandler <C-U> a:ide
sethandler <A-X> a:ide
sethandler <C-\> a:ide
sethandler <M-F> a:ide
sethandler <M-n> a:ide
sethandler <C-w> a:ide
sethandler <C-D> a:ide
sethandler <C-c> a:ide
sethandler <C-s> a:ide
sethandler <C-]> a:ide
sethandler <C-[> a:ide
sethandler <C-v> a:ide
sethandler <C-A> a:ide

sethandler <M-A> a:ide
sethandler <A-Right> a:vim
sethandler <S-A-Right> a:vim
sethandler <A-Left> a:vim
sethandler <S-A-Left> a:vim

""" Overrides ------------------------------------------------

map I <Action>(EditorSelectWord)
map K <Action>(EditorUnSelectWord)
map gq <Action>(FillParagraph)

"" ____________________ [Q] prefix controls [Q]uick commands

map qo <Plug>(MatchitMotion)
map qO <Plug>(ReverseMatchitMotion)

map qu <Plug>(ParagraphPrevMotion)
map qp <Plug>(ParagraphNextMotion)

map qh <Action>(GotoPreviousError)
map qç <Action>(GotoNextError)

map qj <Action>(Back)
map ql <Action>(Forward)

map qJ <Action>(JumpToLastChange)
map QJ <Action>(JumpToLastChange)

map qL <Action>(JumpToNextChange)
map QL <Action>(JumpToNextChange)

map qq <Action>(QuickEvaluateExpression)
map qe <Action>(EvaluateExpression)
map oa <Action>(ShowIntentionActions)

vmap qd <Action>(ShowBlankDiffWindow)
map qm <Action>(ToggleBookmark)
""" ____________________ [W] prefix is for [W]ord movement

""" ____________________ [E] prefix controls [E]dit cursor

""" ____________________ [R] prefix controls [R]efactoring

map rf <Action>(ExtractMethod)
map rv <Action>(IntroduceVariable)
map rk <Action>(IntroduceConstant)
map ra <Action>(IntroduceField)
map ri <Action>(Inline)
map r<Del> <Action>(SafeDelete)
map rs <Action>(ChangeSignature)
map rn <Action>(RenameElement)
map rm <Action>(Move)

map rd <Action>(EditorDuplicate)
map rj <Action>(EditorJoinLines)
map ru <Action>(EditorToggleCase)
map rr <Action>(ReformatCode)
map rO <Action>(OptimizeImports)

vnoremap r. :s/)\./)\r./g<CR>:action ReformatCode<CR>
vnoremap r, :s/,/,\r/g<CR>:action ReformatCode<CR>
vnoremap r<space> :s/ / \r/g<CR>


""" ____________________ [T] prefix is unmodified

""" ____________________ [Y] prefix is for yanking

""" ____________________ [U] prefix is unmodified

""" ____________________ [I] prefix is directional

""" ____________________ [O] prefix Controls [O]verlays

map op <Action>(PasteMultiple)
map oe <Action>(RecentChangedFiles)
map or <Action>(RecentFiles)
map os <Action>(ChooseRunConfiguration)
map oS <Action>(ChooseDebugConfiguration)
map ox <Action>(FileStructurePopup)
map ot <Action>(ImportTests)
map ow <Action>(CloseContent)

map on <Action>(ShowNavBar)
map oT <Action>(ShowRecentTests)

map ol <Action>(RecentLocations)


""" ____________________ [P] prefix controls [P]asting

""" __________________________________________________________________________________________________________________________________________________

""" ____________________ [A] prefix is open

""" ____________________ [S] Prefix Controls [S]elections and [S]urround

map ss <Action>(SurroundWith)
map su <Action>(Unwrap)

""" ____________________ [D] Prefix Controls [D]eletions

""" ____________________ [F] Prefix Controls [F]ind

map <A-f><A-f> <Action>(Find)
map <A-f><f> <Action>(Find)
map fp <Plug>(easymotion-jumptoanywhere)
map fn <Action>(AceWordStartAction)
map fu <Action>(ShowUsages)

""" Possibly use a single keystroke
map fl <Plug>(easymotion-w)
map fj <Plug>(easymotion-b)
map fç <Plug>(easymotion-eol-j)
map fh <Plug>(easymotion-sol-k)

""" Probably remove and make more space, since f* is __premium__ realstate
map fL <Plug>(easymotion-e)
map fJ <Plug>(easymotion-ge)

""" ____________________ [G] Prefix is [G]it
map gi <Action>(VcsShowPrevChangeMarker)
map gk <Action>(VcsShowNextChangeMarker)

""" ____________________ [H] Prefix is directional ( Home )
""" ____________________ [J] Prefix is directional ( Left )
""" ____________________ [K] Prefix is directional ( Down )
""" ____________________ [L] Prefix is directional ( Right )
""" ____________________ [Ç] Prefix is directional ( End )

"""___________________________________________________________________________________________________________________________________________________

""" ________________________________ [Z] prefix controls [Z]ooming, [Z]ips and Scroll
map zn <Action>(SplitVertically)
map zN <Action>(SplitHorizontally)
map zo <Action>(ChangeSplitOrientation)

""" Possibly use zu and zp if map zç and zh to base scrolls?
map zm <Action>(NextSplitter)
map zM <Action>(PrevSplitter)

""" zl and zj are already used and zj are already for scrolling left and right
map ZJ <Action>(StretchSplitToLeft)
map ZL <Action>(StretchSplitToRight)
map ZK <Action>(StretchSplitToBottom)
map ZI <Action>(StretchSplitToTop)

map zd <Action>(Unsplit)
map z<Del> <Action>(Unsplit)

map zD <Action>(UnsplitAll)
map z<Backspace> <Action>(UnsplitAll)

""" ________________________________ [X] prefix controls code and meta stuff
vmap xx <Plug>(Exchange)

map xi <Action>(MethodUp)
map xk <Action>(MethodDown)

map xl <Action>(SliceForward)
map xj <Action>(SliceBackward)
vmap xj <Action>(CollapseSelection)

map xm <Action>(CollapseAllRegions)
map x; <Action>(ExpandAllRegions)
map x, <Action>(ExpandAllToLevel1)
map x. <Action>(ExpandAllToLevel2)

""" ________________________________ [C] prefix controls [C]hanging

""" ________________________________ [V] prefix controls [V]isual selections

""" ________________________________ [B] prefix is unmodified

""" ________________________________ [N] prefix controls [N]avigation

" remember: nnoremap nn n
map nc <Action>(GotoClass)
map nf <Action>(GotoFile)
map ns <Action>(GotoSymbol)
map nl <Action>(GotoLine)

map nt <Action>(GotoTest)
map nd <Action>(GotoDeclaration)
map nD <Action>(GotoTypeDeclaration)
map ni <Action>(GotoImplementation)
map nS <Action>(GotoSuperMethod)
map nr <Action>(GotoRelated)

""" ________________________________ [M] prefix controls [M]ovements

"""___________________________________________________________________________________________________________________________________________________

""" Meta -------------------------------------------------

map <leader>vii :e ~/.vimrc<CR>
map <leader>vim :e ~/.ideavimrc<CR>
map <leader>wr <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>x viv:let @b = @+<CR>y:!(pbpaste \| ~/.canelhasmateus/lib/eval.py \| pbcopy)<CR>gvP:let @+ = @b<CR>
vmap <leader>x :let @b = @+<CR>y:!(pbpaste \| ~/.canelhasmateus/lib/eval.py \| pbcopy)<CR>gvP:let @+ = @b<CR>

""" Experimental -----------------------------------------

" Literal insertion
nnoremap <leader><Tab> i<C-v><Tab><Esc>

""" [G]
map gu <Action>(Vcs.RollbackChangedLines)
map gO <Action>(Vcs.ShowDiffChangedLines)
map gl <Action>(ChangesView.Move)
map gL <Action>(Vcs.MoveChangedLinesToChangelist)
map g> <Action>(Diff.ApplyLeftSide)

""" [V]
vmap v<Del> <Plug>SkipOccurrence
vmap vd <Plug>SkipOccurrence
vmap v<Backspace> <Plug>RemoveOccurrence
vmap vi <Plug>RemoveOccurrence
vmap vI <Esc><Esc>
vmap vk <Plug>NextOccurrence
vmap vK <Plug>AllOccurrences

""" [T]
map ti <Action>(NotebookSelectCellAboveAction)
map tk <Action>(NotebookSelectCellBelowAction)

map tI <Action>(NotebookInsertCellAboveAction)
map tK <Action>(NotebookInsertCellBelowAction)

map td <Action>(NotebookDeleteCellAction)
map tt <Action>(JupyterConvertCellActions)
map tx <Action>(NotebookSplitCellAction)
map tX <Action>(NotebookMergeCellAboveAction)

" [A] layer
nnoremap an <C-a>
vnoremap an <C-a>gv
nnoremap aN <C-x>
vnoremap aN <C-x>gv

nnoremap An g<C-a>
vnoremap An g<C-a>
nnoremap AN g<C-x>
vnoremap AN g<C-x>

""" [S]
set multicursor
nnoremap mc <Nop>
vnoremap mc <Nop>
nnoremap ms <Nop>
vnoremap ms <Nop>

vmap ? <Plug>(multicursor-ms/)
vmap sç <Action>(EditorAddCaretPerSelectedLine)

vmap sh <C-V>v<Plug>(multicursor-ms^)
"""vmap sç <C-V>V<Plug>(multicursor-ms$)
vmap sc <Plug>(multicursor-msgU)
vmap sw <Plug>(multicursor-msgU)
vmap sW <Plug>(multicursor-msgU)
vmap se <Plug>(multicursor-msgU)
vmap sE <Plug>(multicursor-msgU)
""map <leader>aa <Plug>(multicursor-mcr)
vmap <leader>sE <Plug>(multicursor-msE)
vmap <leader>sF <Plug>(multicursor-msF)
vmap <leader>sT <Plug>(multicursor-msT)
vmap <leader>se <Plug>(multicursor-mse)
vmap <leader>su <Plug>(multicursor-msgu)
vmap <leader>st <Plug>(multicursor-mst)

""" --------------------------------------------------



"Doesn't work for some reason
"Majera.CodeReview.Bitbucket.LeaveCommentForLineAction
"Majera.CodeReview.Bitbucket.ShowContextPullRequestFileDiff
"ActivateBitbucketPullRequestsToolWindow
map oq <Action>(ShowBookmarks)
map oG <Action>(Bitbucket.OpenFileInBitbucket)
map ou <Action>(LocalHistory.ShowHistory)
map oU <Action>(UML.ShowChanges)
vmap ou <Action>(LocalHistory.ShowSelectionHistory)

vmap gd <Action>(ShowBlankDiffWindow)
map gu <Action>(Vcs.RollbackChangedLines)
map gO <Action>(Vcs.ShowDiffChangedLines)
map gl <Action>(ChangesView.Move)
map gL <Action>(Vcs.MoveChangedLinesToChangelist)
map g> <Action>(Diff.ApplyLeftSide)

""" [TODO]
"""completions
"""codewithme
"""tasks
"""quick lists
"""templates
"""postfixes
"""map gK <Action>(Majera.CodeReview.Bitbucket.NextCommentInOrdinaryEditor)
"""map gI <Action>(Majera.CodeReview.Bitbucket.PrevCommentInOrdinaryEditor)

"""map zO zhzçzDznqjqjzh
"""Macros

""" [USE MORE]
"""map on <Action>(ShowNavBar)
"""map oT <Action>(ShowRecentTests)
"""map oI <Action>(RunInspection) """ oi is invert, but maybe change it to ov?
"""map ou <Action>(LocalHistory.ShowHistory)
"""map oU <Action>(UML.ShowChanges)
"""map fL <Plug>(easymotion-e)
"""map fJ <Plug>(easymotion-ge)
"""map xl <Action>(SliceForward)
"""map xj <Action>(SliceBackward)

map qq <Action>(QuickEvaluateExpression)
map qe <Action>(EvaluateExpression)
map oa <Action>(ShowIntentionActions)

map <leader>oq <Action>(QuickList.Bookmarks)
map <leader>oh <Action>(QuickList.Hierarchies)
map <leader>oi <Action>(QuickList.Inspections)
map <leader>oy <Action>(QuickList.Copy)
map <leader>oj <Action>(QuickList.Java)
map <leader>ob <Action>(QuickList.Build)
map <leader>of <Action>(QuickList.Find)
map <leader>og <Action>(QuickList.Git)
map <leader>ox <Action>(QuickList.Analyze)
map <leader>or <Action>(QuickList.Refactor)
map <leader>oo <Action>(QuickList.Head)

""" Quick change scapehatch
map <leader>17 <Esc>

nnoremap X q

map gc <Action>(Compare.Selected)
map gl <Action>(Vcs.ShowDiffChangedLines)