:source ~/.vimrc

Plug 'michaeljsmith/vim-ident-object'
Plug 'chrisbra/matchit'
Plug 'dbakker/vim-paragraph-motion'

Plug 'tpope/vim-surround'
Plug 'tommcdo/vim-exchange'
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(100, 160, 100, 100)"

Plug 'easymotion/vim-easymotion'
let g:EasyMotion_do_mapping = 0

Plug 'terryma/vim-multiple-cursors'

"""Plug 'preservim/nerdtree'
"""Plug 'terryma/vim-multiple-cursor'
"""Plug 'tpope/vim-commentary'
"""Plug 'vim-scripts/ReplaceWithRegisters
"""Plug 'vim-scripts/argtextobj.vim'
"""let g:argtextobj_pairs="[:],(:),<:>"
"""set sneak
"""set quickscope
"""let g:match_words = '<:>,<tag>:</tag>'

set ideamarks
set ideajoin
set idearefactormode=select
set incsearch!

sethandler <ESC> a:ide
sethandler <C-x> a:ide
sethandler <A-F> a:ide
sethandler <A-S> a:ide
sethandler <A-e> a:ide
sethandler <A-E> a:ide
sethandler <M-e> a:ide
sethandler <M-E> a:ide
sethandler <A-f> a:ide
sethandler <C-I> a:ide
sethandler <C-B> a:ide
sethandler <C-L> a:ide
sethandler <A-N> a:ide
sethandler <C-P> a:ide
sethandler <C-R> a:ide
sethandler <C-U> a:ide
sethandler <A-X> a:ide
sethandler <C-\> a:ide
sethandler <M-F> a:ide
sethandler <M-n> a:ide
sethandler <C-w> a:ide
sethandler <C-D> a:ide
sethandler <C-c> a:ide
sethandler <C-s> a:ide
sethandler <C-]> a:ide
sethandler <C-[> a:ide
sethandler <C-v> a:ide
sethandler <C-A> a:ide

sethandler <M-A> a:ide
sethandler <A-Right> a:vim
sethandler <S-A-Right> a:vim
sethandler <A-Left> a:vim
sethandler <S-A-Left> a:vim

""" Overrides ------------------------------------------------

map I <Action>(EditorSelectWord)
map K <Action>(EditorUnSelectWord)

"" ____________________ [Q] prefix controls [Q]uick commands


map qo <Plug>(MatchitMotion)
map qO <Plug>(ReverseMatchitMotion)

map qu <Plug>(ParagraphPrevMotion)
map qp <Plug>(ParagraphNextMotion)

map qh <Action>(GotoPreviousError)
map qç <Action>(GotoNextError)

map qj <Action>(Back)
map ql <Action>(Forward)
map qJ <Action>(JumpToLastChange)
map qL <Action>(JumpToNextChange)


""" ____________________ [W] prefix is for [W]ord movement

""" ____________________ [E] prefix controls [E]dit cursor

""" ____________________ [R] prefix controls [R]efactoring

map rf <Action>(ExtractMethod)
map rv <Action>(IntroduceVariable)
map rk <Action>(IntroduceConstant)
map ra <Action>(IntroduceField)
map ri <Action>(Inline)
map r<Del> <Action>(SafeDelete)
map rs <Action>(ChangeSignature)
map rn <Action>(RenameElement)
map rm <Action>(Move)

map rd <Action>(EditorDuplicate)
map rj <Action>(EditorJoinLines)
map ru <Action>(EditorToggleCase)
map ro <Action>(OptimizeImports)
map rr <Action>(ReformatCode)

vnoremap r. :s/)\./)\r./g<CR>:action ReformatCode<CR>
vnoremap r, :s/,/,\r/g<CR>:action ReformatCode<CR>

""" ____________________ [T] prefix is unmodified

""" ____________________ [Y] prefix is for yanking

""" ____________________ [U] prefix is unmodified

""" ____________________ [I] prefix is directional

""" ____________________ [O] prefix controls [O]pening of popups

map op <Action>(PasteMultiple)

map oI <Action>(RunInspection) """ oi is invert, but maybe change it to ov?
map od <Action>(ShowBlankDiffWindow)
map oe <Action>(RecentChangedFiles)
map or <Action>(RecentFiles)
map oq <Action>(ShowBookmarks)
map os <Action>(ChooseRunConfiguration)
map ol <Action>(RecentLocations)
map ox <Action>(FileStructurePopup)

map ou <Action>(LocalHistory.ShowHistory)
map oU <Action>(UML.ShowChanges)
vmap ou <Action>(LocalHistory.ShowSelectionHistory)

map ot <Action>(ImportTests)
map oT <Action>(ShowRecentTests)

map of <Action>(StructuralSearchPlugin.StructuralSearchAction)
map ow <Action>(CloseContent)

map ohc <Action>(CallHierarchy)
map ohm <Action>(MethodHierarchy)
map oht <Action>(TypeHierarchy)

""" ____________________ [P] prefix controls [P]asting

""" __________________________________________________________________________________________________________________________________________________

""" ____________________ [A] prefix is Undetermined

""" ____________________ [S] Prefix Controls [S]elections and [S]urround 

""" ____________________ [D] Prefix Controls [D]eletions

""" ____________________ [F] Prefix Controls [F]ind

map <A-f><A-f> <Action>(Find)
map <A-f><f> <Action>(Find)
map fp <Plug>(easymotion-jumptoanywhere)

""" Possibly use a single keystroke
map fl <Plug>(easymotion-w)
map fj <Plug>(easymotion-b)
map fç <Plug>(easymotion-eol-j)
map fh <Plug>(easymotion-sol-k)

""" These were never used - Probably remove and make more space, since f* is __premium__ realstate
map fL <Plug>(easymotion-e)
map fJ <Plug>(easymotion-ge)
map fÇ <Plug>(easymotion-sol-j)
map fH <Plug>(easymotion-eol-k)
"""map f. <Plug>(easymotion-bd-n)

""" ____________________ [G] Prefix is undefined
""" ____________________ [H] Prefix is directional ( Home )
""" ____________________ [J] Prefix is directional ( Left )
""" ____________________ [K] Prefix is directional ( Down )
""" ____________________ [L] Prefix is directional ( Right )
""" ____________________ [Ç] Prefix is directional ( End )

"""___________________________________________________________________________________________________________________________________________________

""" ________________________________ [Z] prefix controls [Z]ooming, [Z]ips and Scroll
map zn <Action>(SplitVertically)
map zN <Action>(SplitHorizontally)
map zo <Action>(ChangeSplitOrientation)
map zO zhzçzDznqjqjzh

""" Possibly use zu and zp if map zç and zh to base scrolls?
map zm <Action>(NextSplitter)
map zM <Action>(PrevSplitter)

""" zl and zj are alreadnd zj are already for scrolling left and right
map ZJ <Action>(StretchSplitToLeft)
map ZL <Action>(StretchSplitToRight)
map ZK <Action>(StretchSplitToBottom)
map ZI <Action>(StretchSplitToTop)

map zd <Action>(Unsplit)
map z<Del> <Action>(Unsplit)

map zD <Action>(UnsplitAll)
map z<Backspace> <Action>(UnsplitAll)

""" ________________________________ [X] prefix controls code stuff

vmap xx <Plug>(Exchange)

map xi <Action>(MethodUp)
map xk <Action>(MethodDown)

map xl <Action>(ExpandRegion)
map xj <Action>(CollapseRegion)
vmap xj <Action>(CollapseSelection)

map xm <Action>(CollapseAllRegions)
map x; <Action>(ExpandAllRegions)
map xm <Action>(ExpandAllToLevel1)
map x, <Action>(ExpandAllToLevel2)
map x. <Action>(ExpandAllToLevel3)

""" ________________________________ [C] prefix controls [C]hanging

""" ________________________________ [V] prefix controls [V]isual selections

""" ________________________________ [B] prefix is unmodified

""" ________________________________ [N] prefix controls [N]avigation

" remember: nnoremap nn n
map nc <Action>(GotoClass)
map nf <Action>(GotoFile)
map ns <Action>(GotoSymbol)
map nl <Action>(GotoLine)

map nt <Action>(GotoTest)
map nd <Action>(GotoDeclaration)
map nD <Action>(GotoTypeDeclaration)
map ni <Action>(GotoImplementation)
map nS <Action>(GotoSuperMethod)
map nr <Action>(GotoRelated)

map nu <Action>(ShowUsages)

map nI <Nop>
map nK <Nop>

""" ________________________________ [M] prefix controls [M]ovements

"""___________________________________________________________________________________________________________________________________________________

""" Meta -------------------------------------------------

map <leader>vii :e ~/.vimrc<CR>
map <leader>vim :e ~/.ideavimrc<CR>
map <leader>wr <Action>(IdeaVim.ReloadVimRc.reload)

""" Experimental -----------------------------------------


"""vmap oX <Action>(GotoCustomRegion)
"""todo vnoremap <leader>x :w !python<CR>
"""todo map ofr <Action>(StructuralSearchPlugin.StructuralReplaceAction)
"""todo map ofp <Action>(FindInPath)
"""todo a quick list of some actions map xo <>
"""todo complete current statement
"""todo better templates
"""todo better postfixes
"""todo create emmet engine for other languages
"""todo ShowRecentTests
"""todo RecentChanges
"""todo map oh <Action>(ProductivityGuide)
"""todo map os <Action>(ActivateTerminalToolWindow)
"""todo map ot <Action>(Rest Client)
"""todo map ot <Action>(Quick Swithc scheme)
"""todo EditBreakpoint
"""todo ViewBreakpoints
"""todo evaluate expression
"""todo quick evaluate expression map qe <Action>(...)
"""todo ActivateBitbucketPullRequestsToolWindow
"""
" Macro
noremap Q q
noremap am @
noremap a. @@
xnoremap <Leader>, :<UP><CR>

" Literal insertion
nnoremap <leader><Tab> i<C-v><Tab><Esc>

" Java
nnoremap <leader>jj $h"ayiw^i@JsonProperty("<Esc>"apli")<Space><Esc>
nmap <leader>jt viveç}<Esc>vivehassertThatThrownBy{<Esc>ek.isInstanceOf(
vmap <leader>jt eç}<Esc>vivehassertThatThrownBy{<Esc>ek.isInstanceOf(
vmap <leader>je el)<Esc>gvejassertThat(<Esc>qo<leader>a.isEqualTo(
nmap <leader>je vivel)<Esc>ejassertThat(<Esc>qo<leader>a.isEqualTo(
nnoremap <leader>jj $h"ayiw^i@JsonProperty("<Esc>"apli")<Space><Esc>

""" [G]
"Doesn't work for some reason
map qd <Action>(CompareTwoFiles)
map gd <Action>(CompareTwoFiles)
map gi <Action>(VcsShowPrevChangeMarker)
map gk <Action>(VcsShowNextChangeMarker)
map gu <Action>(Vcs.RollbackChangedLines)
map go <Action>(Vcs.ShowDiffChangedLines)
map gL <Action>(Vcs.MoveChangedLinesToChangelist)

"Majera.CodeReview.Bitbucket.LeaveCommentForLineAction
"Majera.CodeReview.Bitbucket.ShowContextPullRequestFileDiff
"ActivateBitbucketPullRequestsToolWindow

""" [R]
map rt <Action>(InsertLiveTemplate)
map rt <Action>(MembersPullUp)
map rI <Action>(ImplementMethods)
map rO <Action>(OverrideMethods)
map rD <Action>(DelegateMethods)


""" [Q]
map qe <Action>(QuickEvaluateExpression)
map qw <Action>(EvaluateExpression)

""" [V]
vmap v<Del> <Plug>SkipOccurrence
vmap vd <Plug>SkipOccurrence
vmap v<Backspace> <Plug>RemoveOccurrence
vmap vi <Plug>RemoveOccurrence
vmap vI <Esc><Esc>
vmap vk <Plug>NextOccurrence
vmap vK <Plug>AllOccurrences

map gl <Action>(ChangesView.Move)
map g> <Action>(Diff.ApplyLeftSide)

""" [T]
map ti <Action>(NotebookSelectCellAboveAction)
map tk <Action>(NotebookSelectCellBelowAction)

map tI <Action>(NotebookInsertCellAboveAction)
map tK <Action>(NotebookInsertCellBelowAction)

map td <Action>(NotebookDeleteCellAction)
map tt <Action>(JupyterConvertCellActions)
map tx <Action>(NotebookSplitCellAction)
map tX <Action>(NotebookMergeCellAboveAction)

" [A] layer
nnoremap an <C-a>
vnoremap an <C-a>gv
nnoremap aN <C-x>
vnoremap aN <C-x>gv

nnoremap An g<C-a>
vnoremap An g<C-a>
nnoremap AN g<C-x>
vnoremap AN g<C-x>

""" [S]
set multicursor
nnoremap mc <Nop>
vnoremap mc <Nop>
nnoremap ms <Nop>
vnoremap ms <Nop>

map ss <Action>(SurroundWith)
map su <Action>(Unwrap)

vmap / <Plug>(multicursor-ms/)
vmap sh <C-V>v<Plug>(multicursor-ms^)
vmap sç <C-V>V<Plug>(multicursor-ms$)
vmap sc <Plug>(multicursor-msgU)

vmap sw <Plug>(multicursor-msgU)
vmap sW <Plug>(multicursor-msgU)
vmap se <Plug>(multicursor-msgU)
vmap sE <Plug>(multicursor-msgU)
""map <leader>aa <Plug>(multicursor-mcr)
vmap <leader>sE <Plug>(multicursor-msE)
vmap <leader>sF <Plug>(multicursor-msF)
vmap <leader>sT <Plug>(multicursor-msT)
vmap <leader>se <Plug>(multicursor-mse)
vmap <leader>su <Plug>(multicursor-msgu)
vmap <leader>st <Plug>(multicursor-mst)

""" Quick change scapehatch


imap <leader>x <c-o>:r !uname<cr>
map <leader><leader<leader><leader><leader><leader>9 <Esc>