unmapAll
##############################

# Jump
map nc LinkHints.activateModeToDownloadLink
map nC LinkHints.activateModeToCopyLinkUrl
map fY LinkHints.activateModeToDownloadLink
map ni LinkHints.activateModeToOpenIncognito
map fy LinkHints.activateModeToCopyLinkUrl
map nn LinkHints.activateMode
map fj LinkHints.activateMode
map fl LinkHints.activateMode
map gg LinkHints.activateMode
map nN LinkHints.activateModeToOpenInNewTab
map NN LinkHints.activateModeToOpenInNewTab
map fç LinkHints.activateModeToOpenInNewTab
map fh LinkHints.activateModeToOpenInNewTab
map np LinkHints.activateModeWithQueue
map fm LinkHints.activateModeWithQueue
map <a-i> goUp
map <a-I> goToRoot

#Vim scrolling
map k scrollUp
map j scrollDown
map h scrollLeft
map l scrollRight

#Normie Scrolling
map w scrollUp
map s scrollDown
map a scrollLeft
map d scrollRight
map <a-W> scrollToTop
map qI scrollToTop
map <a-S> scrollToBottom
map qK scrollToBottom
map <a-s> scrollPageDown
map qk scrollPageDown
map <a-w> scrollPageUp
map qi scrollPageUp

# History
map A goBack
map qj goBack
map D goForward
map ql goForward

#Omnibar / tab
map oe Vomnibar.activateEditUrl
map oE Vomnibar.activateInNewTab
map nf Vomnibar.activateTabSelection
map nq Vomnibar.activateBookmarks
map nQ Vomnibar.activateBookmarksInNewTab
map oq createTab
map u restoreTab
map ow removeTab
map oW closeOtherTabs
map ox moveTabToNewWindow
map y copyCurrentUrl
map Y openCopiedUrlInCurrentTab

# Tab Mov
map <a-a> previousTab
map æ previousTab
map zl previousTab
map <a-d> nextTab
map ð nextTab
map zl nextTab
map < goPrevious
map > goNext
map <a-m><a-a> moveTabLeft
map <a-m><a-d> moveTabRight
map zJ moveTabLeft
map zL moveTabRight

# Need to use more
map / enterFindMode
map ee enterFindMode
map el performFind
map ej performFindBackwards
map vi focusInput
map vv enterVisualLineMode
map od duplicateTab
map or visitPreviousTab

# Experimental
map MM Marks.activateCreateMode
map mm Marks.activateGotoMode
map tt mainFrame
map t> nextFrame
map tk passNextKey
map I enterInsertMode
map oo Vomnibar.activate
