unmapAll
##############################

# Jump
map fj LinkHints.activateMode
map fl LinkHints.activateMode
map gg LinkHints.activateMode
map ll LinkHints.activateMode

map fc LinkHints.activateModeToDownloadLink
map fC LinkHints.activateModeToCopyLinkUrl
map fY LinkHints.activateModeToDownloadLink
map fi LinkHints.activateModeToOpenIncognito
map fy LinkHints.activateModeToCopyLinkUrl

map fç LinkHints.activateModeToOpenInNewTab
map fh LinkHints.activateModeToOpenInNewTab
map fm LinkHints.activateModeWithQueue

map <a-i> goUp
map <a-I> goToRoot

#Vim scrolling
map k scrollUp
map j scrollDown
map h scrollLeft
map l scrollRight

#Normie Scrolling
map w scrollUp
map s scrollDown
map a scrollLeft
map d scrollRight
map <a-W> scrollToTop
map qI scrollToTop
map <a-S> scrollToBottom
map qK scrollToBottom
map <a-s> scrollPageDown
map qk scrollPageDown
map <a-w> scrollPageUp
map qi scrollPageUp

# History
map A goBack
map qj goBack
map D goForward
map ql goForward

#Omnibar / tab
map oe Vomnibar.activateEditUrl
map oE Vomnibar.activateInNewTab
map of Vomnibar.activateTabSelection
map oq Vomnibar.activateBookmarks
map oQ Vomnibar.activateBookmarksInNewTab
map oq createTab
map ou restoreTab
map ow removeTab
map oW closeOtherTabs
map ox moveTabToNewWindow
map oy copyCurrentUrl
map oY openCopiedUrlInCurrentTab
map <a-i> goUp
map <a-I> goToRoot

# Tab Mov
map <a-a> previousTab
map æ previousTab
map zl previousTab
map <a-d> nextTab
map ð nextTab
map zl nextTab
map < goPrevious
map > goNext
map <a-m><a-a> moveTabLeft
map <a-m><a-d> moveTabRight
map zJ moveTabLeft
map zL moveTabRight

# Need to use more
map / enterFindMode
map ff enterFindMode
map n performFind
map N performFindBackwards
map vv enterVisualMode
map vi focusInput
map V enterVisualLineMode
map od duplicateTab
map or visitPreviousTab

# Experimental
map MM Marks.activateCreateMode
map mm Marks.activateGotoMode
map tt mainFrame
map t> nextFrame
map tk passNextKey
map I enterInsertMode
map oo Vomnibar.activate
