#
##############################

unmapAll


# Search and selection
map / enterFindMode


map vi focusInput
map vv enterVisualLineMode

# Jump
map fl LinkHints.activateMode
map fç LinkHints.activateModeToOpenInNewTab
map fj LinkHints.activateMode
map fh LinkHints.activateModeToOpenInNewTab
map fi LinkHints.activateModeToOpenIncognito
map fm LinkHints.activateModeWithQueue
map fy LinkHints.activateModeToCopyLinkUrl
map fY LinkHints.activateModeToDownloadLink

# scrolling

map i scrollUp
map j scrollLeft
map k scrollDown
map l scrollRight
map w scrollUp
map a scrollLeft
map s scrollDown
map d scrollRight
map h previousTab
map ç nextTab

map <a-a> previousTab
map æ previousTab 
map <a-d> nextTab
map ð nextTab
map <a-i> goUp
map <a-I> goToRoot

map J scrollToLeft
map L scrollToRight

# Quick
map qj goBack
map ql goForward
map qk scrollPageDown
map qi scrollPageUp
map qI scrollToTop
map qK scrollToBottom 


# Navigate

map nn Vomnibar.activateBookmarks
map nN Vomnibar.activateBookmarksInNewTab
map nf Vomnibar.activateTabSelection



# Open / Navigate

map or visitPreviousTab
map oR restoreTab
map oq createTab
map ow removeTab
map oW closeOtherTabs
map ox moveTabToNewWindow
map od duplicateTab

# Misc
map < goPrevious
map > goNext
map gg showHelp
map yw copyCurrentUrl

# Experimental
map nd LinkHints.activateModeToOpenInNewForegroundTab
map nD LinkHints.activateModeToOpenInNewForegroundTab
map <space>i enterInsertMode
map on Vomnibar.activate 
map oe Vomnibar.activateEditUrl
map oE Vomnibar.activateInNewTab

map M Marks.activateCreateMode
map tt mainFrame
map t> nextFrame
map tk passNextKey
map m> moveTabRight
map m< moveTabLeft

map tl performFind
map tj performFindBackwards
